@model IEnumerable<QnA_app.Models.QuestionsTbl>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Questions Asked By People</h1>

<p>
    <a asp-action="Index">Ask a Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Qid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Askedby)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Qid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Askedby)
            </td>
            <td>
                @Html.ActionLink("Answer This Question", "AnswerThisQuestion", new{  id=item.Qid});

             @*    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
            </td>
        </tr>
}
    </tbody>
</table>
